body {
    background-color: white;
}

::selection {
    background: yellow;
}

h1 {
    font-family: sans-serif;
    font-size: 28px;
    text-align: center;
}

div {
    font-size: 18px;
    color: blue;
}

a:visited {
    color: aquamarine;
}

a:link {
    color: darkcyan;
}